@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-accent: #c5a059;
  --color-app-bg: #0a0a0a;
  --color-app-surface: #0f0f0f;
  --color-app-border: #1f1f1f;
  --color-app-text: #e5e5e5;
  --color-app-muted: #555555;
  --color-app-label: #a1a1a1;
}

@layer base {
  body {
    @apply bg-app-bg text-app-text antialiased;
  }
}
